@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400&family=Work+Sans:wght@400&display=swap');
.App{
    min-height:100vh;
    display: flex;
    background-image: url('./background_image.jpg');
    background-size: cover;
    background-position: center;
    color:black;
}